/* BLOG */

.blog {
	.banner {
		position: relative;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;

		.container {
			max-width: 600px;
			position: relative;
			z-index: 1;
		}

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0,0,0,0.3);
		}
	}

	h1,
	h1 span {
		color: white;
		margin: 20px auto 10px;
		font-size: 34px;
	}
}

.bannerDate {
	margin: 0 auto 40px;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
}

.bannerTag {
	display: inline-block;
	background: white;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 600;
	box-shadow: 2px 2px 20px rgba(0,0,0,0.5);
}

.listingPageContent {
	.container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.blog-section {
		width: 70%;
	}
}

h2.hs-author-name {
	font-size: 24px;
	text-transform: uppercase;
}

.hs-author-avatar img {
	max-width: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}

h3.hs-author-listing-header {
	border-top: 3px solid rgba(0,0,0,0.08);
	padding-top: 20px;
	margin-top: 50px;
	font-size: 20px;
}

.post-group {
	display: flex;
	flex-wrap: wrap;
}

.post-item {
	width: 46%;
	margin: 2%;
}

.post-item .postImg {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	display: block;
	position: relative;
}

.post-item .postText {
	display: block;
	padding: 5% 5% 0 0;
	transition: all 0.2s ease;
}

.post-item h3 {
	font-family: $fontTitle;
	text-transform: initial;
	padding-bottom: 0;
	transition: all 0.3s ease;
	margin: 0;
}

.post-item a {
	color: black;
}

.post-item a:hover,
.post-item a:focus {
	color: initial;
	text-decoration: none;
}

.post-item a:hover h3,
.post-item a:focus h3 {
	color: black;
}

.post-item .postDate {
	margin: 0;
	font-size: 14px;
	text-transform: uppercase;
}

ul.pagination {
	margin: 20px 2% 0;
}

ul.pagination li {
	display: inline-block;
	line-height: 1.4;
}

ul.pagination li a {
	display: inline-block;
	border: 1px solid black;
	width: 22px;
	height: 22px;
	border-radius: 2px;
	text-align: center;
	padding: 5px;
}

ul.pagination li a:hover,
ul.pagination li a:focus {
	background: black;
	color: white;
}

.sidebar {
	width: 25%;
}

.sidebar h3 {
	padding-top: 15px;
	margin: 0;
	text-transform: uppercase;
	font-family: $fontTitle;
}

.sidebar-subscribe,
.sidebar-posts,
.sidebar-topic {
	padding-bottom: 40px;
}

.sidebar-subscribe input[type="email"] {
	width: calc(100% - 20px);
	border: 1px solid #d1d1d1;
}

.sidebar-subscribe input[type="submit"] {
	margin-top: 20px;
	font-size: 14px;
}

.sidebar-subscribe input[type="submit"]:hover {
	cursor: pointer;
}

.sidebar-posts {
	a {
		display: block;
		margin: 15px 0;

		&:hover,
		&:focus {
			.postTitle {
				color: black;
			}
		}
	}

	.postImg {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		display: block;
		height: 100px;
		width: 100%;
		margin-bottom :10px;
	}

	.postTitle {
		font-weight: 600;
		margin: 0;
		transition: $transition;
	}

	.postDate {
		font-size: 14px;
		color: black;
		margin: 0;
	}
}

.sidebar-topic ul {
	padding-left: 0;
}

.sidebar-topic li {
	padding-bottom: 10px;
	padding-left: 15px;
	position: relative;
	list-style: none;
}

.sidebar-topic li:before {
	content: "\f105";
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
}

.postFeaturedImage {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: initial;
	min-height: initial;
}

.post-header h2 {
	padding-bottom: 10px;
}

.postHeader img {
	border-radius: 50%;
}

.full-blog-section .banner .container {
	padding-bottom: 8%;
}

.full-blog-section > .container {
	position: relative;
	padding: 6% 12%;
	max-width: 900px;

	&:before {
		position: absolute;
		content: "";
		width: 90%;
		height: 100px;
		top: -50px;
		left: 0;
		right: 0;
		margin: auto;
		background: white;
		box-shadow: 0 -15px 20px rgba(0,0,0,0.05);
	}
}

.blogSubscribeBar {
	position: relative;
	top: 0;
	background: $c4;
	left: 0;
	width: 100%;
	z-index: 4;

	.container {
		padding: 20px 8%;
		text-align: center;
		transition: all 0.3s ease;
	}

	p {
		color: white;
		font-size: 16px;
		transition: all 0.3s ease;
	}

	&.stickyBar {
		position: fixed;
		top: 53px;

		.container {
			padding: 0px 8%;
		}

		p {
			font-size: 14px;
		}
	}

	form {
		display: flex;
		justify-content: center;
		margin-bottom: 0;
	}

	.hs_submit .actions input {
		padding: 6px 20px;
	}

	.hs-form-field{
		margin-right: 10px;
	}

	.hs_email {
		width: 250px;
	}

	.hs_notification_frequency {
		width: 140px;
	}

	.input > input.hs-input,
	.input > select.hs-input {
		border: none;
		padding: 11px;
	}

	ul.hs-error-msgs li label {
		color: white;
	}
}

.full-blog-section img {
	max-width: 100%;
}

.full-blog-section {
	p, li, span, a {
		font-size: 18px;
	}

	a {
		color: black;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	h2 {
		font-size: 22px;
	}

	.postDate {
		text-transform: uppercase;
		color: white;
		font-weight: 600;
	}

	.about-author-sec {
		text-align: center;
		max-width: 600px;
		margin: auto;

		p, span {
			font-size: 14px;
		}

		h3 {
			font-size: 18px;
		}

		img {
			border-radius: 50%;
		}
	}
}

.blog-comments {
	margin-top: 40px;
}

.blog-comments form {
	max-width: 500px;
}

.blog-comments input.hs-input:not([type="checkbox"]),
.blog-comments textarea {
	width: 100% !important;
	margin: 5px 0;
	border: 1px solid lightgrey;
}

.blog-comments input.hs-input[type="checkbox"] {
	height: initial;
}

.blog-comments .hs-form textarea.hs-input {
	max-width: 522px;
}

.hs-author-social-links a.hs-author-social-link {
	font-size: 20px;
}